/* ======== / mixin ===========*/
html, body {
  padding: 0;
  margin: 0; }

/* ========= wrapper ========= */
/* ========= / wrapper ========= */
/* ========= header =============*/
.section-header__nav {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 5; }
  .section-header__nav-inners {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0px;
    margin-left: -22px; }
    .section-header__nav-inners li {
      align-self: center; }
      .section-header__nav-inners li:nth-child(2n) {
        margin: 0 20px 0 20px; }
      .section-header__nav-inners li a {
        color: #989696;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none; }
        .section-header__nav-inners li a:hover {
          color: black;
          transition-duration: 0.2s; }
        .section-header__nav-inners li a:active {
          color: red; }

.header-inner {
  margin-bottom: 200px; }
  .header-inner__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 270px;
    justify-content: center; }
  .header-inner__title {
    font-size: 44px;
    font-weight: 17px;
    color: #1d1e1f;
    font-family: 'Open Sans', sans-serif; }
  .header-inner__subtitle {
    font-size: 16px;
    font-weight: 17px;
    color: #898888;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 50px; }
  .header-inner__button__text button {
    height: 40px;
    width: 180px;
    background-color: white; }
    .header-inner__button__text button:hover {
      color: white;
      background-color: black;
      transition-duration: 0.4s; }

/* ========= / header =============*/
/* ========== history ============= */
.line {
  width: 4px;
  height: 100%;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -2px; }

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px; }

.history {
  background-color: black;
  background-image: url(/img/bgr_white.png);
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 950px; }

.history-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  .history-inner-items {
    padding-top: 30px;
    display: flex;
    flex-direction: column; }
    .history-inner-items_item {
      width: 50%;
      position: relative;
      box-sizing: border-box; }
      .history-inner-items_item:after {
        content: '';
        display: block;
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: black;
        border: 5px solid white;
        top: 19px;
        left: 100%;
        margin-left: -12px;
        box-sizing: border-box; }
      .history-inner-items_item:nth-child(odd) {
        padding-right: 24px; }
        .history-inner-items_item:nth-child(odd) .history-inner-items_item__year {
          text-align: right; }
      .history-inner-items_item:nth-child(even) {
        margin-left: auto;
        padding-left: 24px; }
        .history-inner-items_item:nth-child(even):after {
          left: auto;
          right: 100%;
          margin-left: 0;
          margin-right: -12px; }
      .history-inner-items_item__year {
        font-size: 44px;
        font-weight: 17px;
        color: #1d1e1f;
        font-family: 'Open Sans', sans-serif;
        color: white; }
        .history-inner-items_item__year:nth-child(even) {
          color: red; }
      .history-inner-items_item__text {
        color: #b7b7b7;
        font-size: 15px;
        font-weight: 22px;
        font-family: 'Open Sans', sans-serif; }
      .history-inner-items_item__circle {
        width: 1em;
        height: 1em;
        border: 3px solid white;
        border-radius: 50%;
        z-index: 10;
        background: black; }
        .history-inner-items_item__circle:nth-child(even) {
          margin-left: 50px; }
        .history-inner-items_item__circle:nth-child(odd) {
          border: 1px solid green; }

/* ========== / history ============= */
/* ========== team ============= */
.team-items {
  height: 750px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.team-items_header {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 120px; }
  .team-items_header__title {
    font-size: 44px;
    font-weight: 17px;
    color: #1d1e1f;
    font-family: 'Open Sans', sans-serif; }
  .team-items_header__text {
    font-size: 16px;
    font-weight: 17px;
    color: #898888;
    font-family: 'Open Sans', sans-serif; }

.team-items-flex {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.team-items-flex__pers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px; }
  .team-items-flex__pers:nth-child(odd) {
    margin-top: 350px; }
  .team-items-flex__pers__foto {
    text-align: center; }
  .team-items-flex__pers__name {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 26px;
    color: #464646; }
  .team-items-flex__pers__text {
    text-align: center;
    font-size: 13px;
    font-weight: 26px;
    color: #b3b3b3; }
  .team-items-flex__pers__connect {
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    .team-items-flex__pers__connect__inst {
      padding-left: 15px; }

/* ========== / team ============= */
/* ========== provid ============= */
.provid {
  background-image: url(/img/bgr_provid.png);
  background-repeat: no-repeat;
  height: 1800px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.provid_title {
  text-align: center;
  padding-top: 250px; }
  .provid_title__title {
    font-size: 34px;
    font-weight: 26px;
    color: white; }
  .provid_title__text {
    color: #b7b7b7;
    font-size: 15px;
    font-weight: 22px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px; }

.provid_flex {
  padding-top: 200px;
  width: 100%;
  display: flex;
  justify-content: center; }
  .provid_flex_items {
    width: 340px;
    text-align: center; }
    .provid_flex_items-cover {
      display: flex;
      justify-content: center; }
      .provid_flex_items-cover-circle {
        height: 130px;
        width: 130px;
        border: 6px solid white;
        border-radius: 50%; }
      .provid_flex_items-cover-logo {
        text-align: center;
        padding-top: 40px; }
    .provid_flex_items-title {
      color: white;
      font-size: 26px;
      font-weight: 26px;
      padding-top: 20px; }
    .provid_flex_items-text {
      font-size: 18px;
      font-weight: 23px;
      color: #383838;
      padding-top: 15px; }

.provid_btn {
  height: 60px;
  width: 220px;
  background-color: white;
  text-align: center;
  margin-top: 400px;
  margin-left: auto;
  margin-right: auto; }
  .provid_btn_text {
    font-size: 16px;
    font-weight: 26px;
    font-weight: bold;
    color: black;
    padding-top: 23px; }

/* ========== / provid ============= */
/* ========== contact ==============*/
.contact {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .contact_title {
    font-size: 44px;
    font-weight: 17px;
    color: #1d1e1f;
    font-family: 'Open Sans', sans-serif; }
  .contact_description {
    font-size: 16px;
    font-weight: 17px;
    color: #898888;
    font-family: 'Open Sans', sans-serif; }
  .contact .contact_flex {
    display: flex;
    justify-content: center;
    height: 50px;
    padding-top: 70px; }
    .contact .contact_flex-1 {
      margin-left: auto;
      margin-right: auto;
      width: 100%; }
      .contact .contact_flex-1_text {
        color: #989696;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        padding-top: 10px; }
    .contact .contact_flex-2 {
      width: 100%; }
      .contact .contact_flex-2_text {
        color: #989696;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        padding: 0 50px 0 50px;
        padding-top: 10px; }
        .contact .contact_flex-2_text a {
          text-decoration: none;
          color: #898888; }

/* ========== / contact ==============*/
/* ========== feedback ============== */
.feedback_form {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  font-weight: 26px; }
  .feedback_form-input {
    padding: 10px 0 10px 0;
    width: 100%;
    border: 1px solid #898888; }
    .feedback_form-input:nth-child(-n+2) {
      margin-bottom: 20px; }
    .feedback_form-input input {
      border: none;
      text-align: center;
      padding: 10px 0 10px 0;
      width: 100%;
      outline: none; }
    .feedback_form-input input::placeholder {
      color: #898888; }
    .feedback_form-input-btn button {
      background-color: black;
      color: white;
      border: none;
      text-align: center;
      padding: 10px 0 10px 0;
      width: 100%;
      outline: none;
      font-size: 15px;
      font-weight: 26px; }
      .feedback_form-input-btn button:hover {
        background-color: #898888; }

.feedback_form-input-copyright {
  padding-top: 30px;
  width: 100%;
  font-size: 16px;
  font-weight: 17px;
  color: #898888;
  font-family: 'Open Sans', sans-serif;
  text-align: center; }

/* ========== / feedback ============== */
