@charset "UTF-8";
/* ======== / mixin ===========*/
html, body {
  padding: 0;
  margin: 0; }

/* ========= wrapper ========= */
/* ========= / wrapper ========= */
/* ========= header =============*/
.section-header__nav {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 5; }
  .section-header__nav-inners {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0px;
    margin-left: -22px; }
    .section-header__nav-inners li {
      align-self: center; }
      .section-header__nav-inners li:nth-child(2n) {
        margin: 0 20px 0 20px; }
      .section-header__nav-inners li a {
        color: #989696;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none; }
        .section-header__nav-inners li a:hover {
          color: black;
          transition-duration: 0.2s; }
        .section-header__nav-inners li a:active {
          color: red; }

.header-inner {
  margin-bottom: 200px; }
  .header-inner__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 270px;
    justify-content: center; }
  .header-inner__title {
    font-size: 44px;
    font-weight: 17px;
    color: #1d1e1f;
    font-family: 'Open Sans', sans-serif; }
  .header-inner__subtitle {
    font-size: 16px;
    font-weight: 17px;
    color: #898888;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 50px; }
  .header-inner__button__text button {
    height: 40px;
    width: 180px;
    background-color: white; }
    .header-inner__button__text button:hover {
      color: white;
      background-color: black;
      transition-duration: 0.4s; }

/* ========= / header =============*/
/* ========== history ============= */
.history-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  background-image: url(/img/bgr_white.png);
  background-position: bottom;
  background-repeat: no-repeat;
  height: 950px;
  width: 100%;
  z-index: 15; }
  .history-inner-items {
    border-right: 5px solid white;
    width: 450px;
    padding-top: 30px; }
    .history-inner-items_item:nth-child(even) {
      margin-left: 450px;
      padding-left: 100px;
      border: 2px solid purple; }
    .history-inner-items_item:nth-child(odd) {
      margin-right: 450px;
      padding-right: 50px; }
    .history-inner-items_item__year {
      font-size: 44px;
      font-weight: 17px;
      color: #1d1e1f;
      font-family: 'Open Sans', sans-serif;
      color: white; }
      .history-inner-items_item__year:nth-child(even) {
        color: red; }
      .history-inner-items_item__year:nth-child(odd) {
        text-align: right;
        border: 1px solid green;
        color: green; }
    .history-inner-items_item__text {
      color: #b7b7b7;
      font-size: 15px;
      font-weight: 22px;
      font-family: 'Open Sans', sans-serif; }
    .history-inner-items_item__circle {
      width: 1em;
      height: 1em;
      border: 3px solid white;
      border-radius: 50%;
      z-index: 10;
      background: black; }
      .history-inner-items_item__circle:nth-child(even) {
        margin-left: 50px; }
      .history-inner-items_item__circle:nth-child(odd) {
        border: 1px solid green; }

/* ========== / history ============= */
/* ========== team ============= */
.team-items {
  height: 750px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.team-items_header {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 120px; }
  .team-items_header__title {
    font-size: 44px;
    font-weight: 17px;
    color: #1d1e1f;
    font-family: 'Open Sans', sans-serif; }
  .team-items_header__text {
    font-size: 16px;
    font-weight: 17px;
    color: #898888;
    font-family: 'Open Sans', sans-serif; }

.team-items-flex {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.team-items-flex__pers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px; }
  .team-items-flex__pers:nth-child(odd) {
    margin-top: 350px; }
  .team-items-flex__pers__foto {
    text-align: center; }
  .team-items-flex__pers__name {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 26px;
    color: #464646; }
  .team-items-flex__pers__text {
    text-align: center;
    font-size: 13px;
    font-weight: 26px;
    color: #b3b3b3; }
  .team-items-flex__pers__connect {
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    .team-items-flex__pers__connect__inst {
      padding-left: 15px; }

/* ========== / team ============= */
/* ========== provid ============= */
.provid {
  background-image: url(/img/bgr_provid.png);
  background-repeat: no-repeat;
  height: 1800px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  width: 1920px; }

.provid_title {
  text-align: center;
  padding-top: 250px; }
  .provid_title__title {
    font-size: 34px;
    font-weight: 26px;
    color: white; }
  .provid_title__text {
    color: #b7b7b7;
    font-size: 15px;
    font-weight: 22px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px; }

.provid_flex {
  padding-top: 200px;
  width: 1920px;
  display: flex;
  justify-content: center; }
  .provid_flex_items-1 {
    width: 340px;
    text-align: center; }
    .provid_flex_items-1-cover {
      display: flex;
      justify-content: center; }
      .provid_flex_items-1-cover-circle {
        height: 130px;
        width: 130px;
        border: 6px solid white;
        border-radius: 50%; }
      .provid_flex_items-1-cover-logo {
        text-align: center;
        padding-top: 40px; }
    .provid_flex_items-1-title {
      color: white;
      font-size: 26px;
      font-weight: 26px;
      padding-top: 20px; }
    .provid_flex_items-1-text {
      font-size: 18px;
      font-weight: 23px;
      color: #383838;
      padding-top: 15px; }

.provid_btn {
  height: 60px;
  width: 220px;
  background-color: white;
  text-align: center;
  margin-top: 400px;
  margin-left: auto;
  margin-right: auto; }
  .provid_btn_text {
    font-size: 16px;
    font-weight: 26px;
    font-weight: bold;
    color: black;
    padding-top: 23px; }

/* ========== / provid ============= */
/* ========== contact ==============*/
.contact {
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .contact_title {
    font-size: 44px;
    font-weight: 17px;
    color: #1d1e1f;
    font-family: 'Open Sans', sans-serif; }
  .contact_description {
    font-size: 16px;
    font-weight: 17px;
    color: #898888;
    font-family: 'Open Sans', sans-serif; }
  .contact .contact_flex {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto; }
    .contact .contact_flex-1 {
      height: 50px; }
      .contact .contact_flex-1_text {
        color: #989696;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        padding-top: 10px; }
    .contact .contact_flex-2 {
      height: 50px; }
      .contact .contact_flex-2_text {
        color: #989696;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        padding: 0 150px 0 150px;
        padding-top: 10px; }
        .contact .contact_flex-2_text a {
          text-decoration: none;
          color: #898888; }

/* ========== / contact ==============*/
/* ========== feedback ============== */
/* Для формы обратной связи 
.feedback_form {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    font-weight: 26px;

   
    &-input {
      
        padding: 10px 0 10px 0;
        width: 1920px;
        border: 1px solid #898888;

        input {
            border: none;
            text-align: center;
            padding: 10px 0 10px 0;
            width: 1920px;
            outline: none;
        }

        input::placeholder 
        {
            color: #898888;
        }
    
        &-description {
        
        }
        &-btn {
            button {
            background-color: black;
            color: white;
            border: none;
            text-align: center;
            padding: 10px 0 10px 0;
            width: 1920px;
            outline: none;
            font-size: 15px;
            font-weight: 26px;
            
                &:hover {
                    background-color: #898888;
                }
            }
        }
       
    }
}
.feedback_form-input-copyright {
    padding-top: 30px;
    width: 1920px;
    @include subtitle();
    text-align: center;
}

Для формы обратной связи */
.feedback_form {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  font-weight: 26px; }
  .feedback_form-input {
    padding: 10px 0 10px 0;
    width: 1920px;
    border: 1px solid #898888; }
    .feedback_form-input input {
      border: none;
      text-align: center;
      padding: 10px 0 10px 0;
      width: 1920px;
      outline: none; }
    .feedback_form-input input::placeholder {
      color: #898888; }
    .feedback_form-input-btn button {
      background-color: black;
      color: white;
      border: none;
      text-align: center;
      padding: 10px 0 10px 0;
      width: 1920px;
      outline: none;
      font-size: 15px;
      font-weight: 26px; }
      .feedback_form-input-btn button:hover {
        background-color: #898888; }

.feedback_form-input-copyright {
  padding-top: 30px;
  width: 1920px;
  font-size: 16px;
  font-weight: 17px;
  color: #898888;
  font-family: 'Open Sans', sans-serif;
  text-align: center; }

/* ========== / feedback ============== */
