
@mixin font-sans {
    font-family: 'Open Sans', sans-serif;
}


@mixin title_black {
    font-size: 44px;
    font-weight: 17px;
    color: #1d1e1f;
    @include font-sans();
}

@mixin subtitle {
    font-size: 16px;
    font-weight: 17px;
    color: #898888;
    @include font-sans();
}

@mixin text_grey {
    color: #b7b7b7;
    font-size: 15px;
    font-weight: 22px;
    @include font-sans();
}
@mixin text_grey_litl {
    color: #989696;
    font-size: 13px; 
    @include font-sans();
}
@mixin team_name {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 26px;
    color: #464646;
    
}

@mixin team_text {
    text-align: center;
    font-size: 13px;
    font-weight: 26px;
    color: #b3b3b3;
}

/* ======== / mixin ===========*/

/* ========= wrapper ========= */
.section-wrapper {
    padding: 0px;
    margin: 0px;
    max-width: 100%;
}
/* ========= / wrapper ========= */

/* ========= header =============*/
.section-header__nav {
    display: block;


        &-inners {
            margin-left: auto;
            margin-right: auto;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            /* position: fixed;*/


            /* Почему появились отступы? Если уже обнулили .section-wrapper */

            margin: 0px;

            margin-top: -8px;
                li {
                    padding-left: 40px;
                    height: 100px;

                    
                    a {
                            @include text_grey_litl();
                            text-decoration: none;
                            
                        &:hover {
                                color: black;
                                transition-duration: 0.2s;
                            }
                        &:active {
                                color: red;
                            }
                        
                    }

                }
        }    
}
//////////////   
/* 
        &__text {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 270px;
            justify-content: center;
        
        }

        &__title {
           @include title_black();
        }

        &__subtitle {
            @include subtitle();

            padding-bottom: 50px;
        }

        &__button {

            &__text {

                button {
                  height: 40px;  
                  width: 180px;
                  background-color: white;

                  &:hover {
                      color: white;
                      background-color: black;
                      transition-duration: 2s;
                     
                  }
                  
                }
            }
        }
    
 

*/
/* ========= / header =============*/

/* ========== history ============= */
.line {
border-left: 5px solid white;  
margin-left: 200px; 

}

.history {
    

&-inner {
    display: flex;
    justify-content: center;
    flex-basis: 500px;
    margin-left: auto;
    margin-right: auto;

    flex-direction: row;    
    background-color: black;
    background-image: url(/img/bgr_white.png);
    background-position: bottom;
    background-repeat: no-repeat;
    height: 800px;
    width: 1920px;
    
    &-nechet {
        width: 400px;
        padding-top: 30px;
        padding-right: 75px;
        border-right: 5px solid white; 
        position: relative; 
        z-index: 5;
        

        &__2011 {
            height: 300px;

            &__year {
                text-align: right;
                color: white;
                font-size: 48px;
                font-weight: 26px;

            }
            &__text {
               @include text_grey();

            }
            &__circle {
                width: 1em;
                height: 1em;
                border: 3px solid white;
                border-radius: 50%;
                position: absolute;
                margin-top: -85px;
                margin-left: 466px;
                z-index: 1;
                background: black;
            }
        }
        
    }

    &-chet {
        width: 400px;
        padding-top: 150px;
        padding-left: 75px;
        z-index: 5;
        &__2012 {
            height: 300px;
            &__year {
                color: white;
                font-size: 48px;
                font-weight: 26px;
            }
            &__text {
               @include text_grey();

            }
            &__circle {
                width: 1em;
                height: 1em;
                border: 3px solid white;
                border-radius: 50%;
                position: absolute;
                margin-top: -85px;
                margin-left: -87px;
                z-index: 1;
                background: black;
            }
        }
       
    }
}
}
/* ========== / history ============= */

/* ========== team ============= */
.team-items {
    height: 750px;
    width: 1920px;
    text-align: center;
    margin-left: auto;
     margin-right: auto;
}

.team-items_header {
text-align: center;
margin-top: 150px;
margin-bottom: 120px;

    &__title {
      @include title_black();

    }
    &__text {
        @include subtitle();

    }
}

.team-items-flex {
    display: flex;
    justify-content: center;
    width: 1920px;
    
    &__1{
        margin: 100px 200px 0 0;
        &__foto {
            text-align: center;
        }
        &__name {
         
            @include team_name();

        }
        &__text {
           @include team_text();
            
        }
        
        &__connect {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            &__twit {}
            &__inst {
                padding-left: 15px;
            }
        }
    }
    &__2{
        align-self: baseline;
        &__foto {}
        &__name {
            @include team_name();

        }
        &__text {
           @include team_text();
            
        }
        &__connect {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            &__twit {}
            &__inst {
                padding-left: 15px;
            }
        }
    }
    &__3{
        margin: 100px 0 0 200px;
        &__foto {}
        &__name {
            @include team_name();
   
        }
        &__text {
            @include team_text();

        }
        &__connect {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            &__twit {}
            &__inst {
                padding-left: 15px;
            }
        }
    }
}
/* ========== / team ============= */

/* ========== provid ============= */
.provid {
    background-image: url(/img/bgr_provid.png);
    background-repeat: no-repeat;
    height: 1800px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    width: 1920px;

}

.provid_title {
    text-align: center;
    padding-top: 250px;
    &__title {
        font-size: 34px;
        font-weight: 26px;
        color: white;
    }
    &__text {
       @include text_grey();

        padding-top: 10px;
    }
}

.provid_flex {
   padding-top: 200px;
    width: 1920px;    
    display: flex;
    justify-content: center;
    

        &_items-1 {
            width: 340px;
            text-align: center; 

            &-cover {
                
                display: flex;
                justify-content: center;

                &-circle {
                    height: 130px;
                    width: 130px;
                    border: 6px solid white;
                    border-radius: 50%;
                }
                
                &-logo {
                    text-align: center;
                    padding-top: 40px;
                }
            }

            &-title {
                color: white;
                font-size: 26px;
                font-weight: 26px;
                padding-top: 20px;
            }
            &-text {
                font-size: 18px;
                font-weight: 23px;
                color: #383838;
                padding-top: 15px;
            }
                
        }
        
   
  
}
.provid_btn {
        height: 60px;
        width: 220px;
        background-color: white;
        text-align: center;
        margin-top: 400px;
        margin-left: auto;
        margin-right: auto;
    &_btn {
    
    }

    &_text {
        font-size: 16px;
        font-weight: 26px;
        font-weight: bold;
        color: black;
        padding-top: 23px;
    }
}

/* ========== / provid ============= */

/* ========== contact ==============*/
.contact {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &_title {
        @include title_black();
    }

    &_description {
      @include subtitle();
    }

  .contact_flex{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;

    &-1{
        height: 50px;
        &_img {}
        &_text { 
            @include text_grey_litl();
            padding-top: 10px;
        }
    }

    &-2{
        height: 50px;
        &_img {}
        &_text {
            @include text_grey_litl();
            padding: 0 150px 0 150px;
            padding-top: 10px;

            a {
                text-decoration: none;
                color: #898888;
            }
        }
    }
  }  
}

/* ========== / contact ==============*/

/* ========== feedback ============== */

/* Для формы обратной связи 
.feedback_form {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    font-weight: 26px;

   
    &-input {
      
        padding: 10px 0 10px 0;
        width: 1920px;
        border: 1px solid #898888;

        input {
            border: none;
            text-align: center;
            padding: 10px 0 10px 0;
            width: 1920px;
            outline: none;
        }

        input::placeholder 
        {
            color: #898888;
        }
    
        &-description {
        
        }
        &-btn {
            button {
            background-color: black;
            color: white;
            border: none;
            text-align: center;
            padding: 10px 0 10px 0;
            width: 1920px;
            outline: none;
            font-size: 15px;
            font-weight: 26px;
            
                &:hover {
                    background-color: #898888;
                }
            }
        }
       
    }
}
.feedback_form-input-copyright {
    padding-top: 30px;
    width: 1920px;
    @include subtitle();
    text-align: center;
}

Для формы обратной связи */

.feedback_form {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    font-weight: 26px;

   
    &-input {
      
        padding: 10px 0 10px 0;
        width: 1920px;
        border: 1px solid #898888;

        input {
            border: none;
            text-align: center;
            padding: 10px 0 10px 0;
            width: 1920px;
            outline: none;
        }

        input::placeholder 
        {
            color: #898888;
        }
    
        &-description {
        
        }
        &-btn {
            button {
            background-color: black;
            color: white;
            border: none;
            text-align: center;
            padding: 10px 0 10px 0;
            width: 1920px;
            outline: none;
            font-size: 15px;
            font-weight: 26px;
            
                &:hover {
                    background-color: #898888;
                }
            }
        }
       
    }
}
.feedback_form-input-copyright {
    padding-top: 30px;
    width: 1920px;
    @include subtitle();
    text-align: center;
}

/* ========== / feedback ============== */