
@mixin font-sans {
    font-family: 'Open Sans', sans-serif;
}


@mixin title_black {
    font-size: 44px;
    font-weight: 17px;
    color: #1d1e1f;
    @include font-sans();
}

@mixin subtitle {
    font-size: 16px;
    font-weight: 17px;
    color: #898888;
    @include font-sans();
}

@mixin text_grey {
    color: #b7b7b7;
    font-size: 15px;
    font-weight: 22px;
    @include font-sans();
}
@mixin text_grey_litl {
    color: #989696;
    font-size: 13px; 
    @include font-sans();
}
@mixin team_name {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 26px;
    color: #464646;
    
}

@mixin team_text {
    text-align: center;
    font-size: 13px;
    font-weight: 26px;
    color: #b3b3b3;
}

/* ======== / mixin ===========*/

html, body {padding:0; margin:0;}

/* ========= wrapper ========= */
.section-wrapper {
   
}
/* ========= / wrapper ========= */

/* ========= header =============*/
.section-header__nav {
    position: fixed;
    background-color: white;
    width: 100%;   
    z-index: 5;
        &-inners {

            display: flex;
            justify-content: center;
            list-style: none;
            margin: 0px;
            margin-left: -22px;

                li {

                    align-self: center;

                    &:nth-child(2n) {
                        margin: 0 20px 0 20px;
                    }
                    a {
                            @include text_grey_litl();
                            text-decoration: none;
                            
                        &:hover {
                                color: black;
                                transition-duration: 0.2s;
                            }
                        &:active {
                                color: red;
                            }
                        
                    }

                }
        }    
}

.header-inner {
        margin-bottom: 200px;

        &__text {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 270px;
            justify-content: center;
        
        }

        &__title {
           @include title_black();
        }

        &__subtitle {
            @include subtitle();

            padding-bottom: 50px;
        }

        &__button {

            &__text {

                button {
                  height: 40px;  
                  width: 180px;
                  background-color: white;

                  &:hover {
                      color: white;
                      background-color: black;
                      transition-duration: 0.4s;
                     
                  }
                  
                }
            }
        }
    
 

}
/* ========= / header =============*/

/* ========== history ============= */
// .line {
// border-left: 5px solid white;  
// margin-left: 200px; 

// }

 .history-inner {
     display: flex;
     flex-direction: row;    
     justify-content: center;
     margin-left: auto;
     margin-right: auto;

    
    background-color: black;
    background-image: url(/img/bgr_white.png);
    background-position: bottom;
    background-repeat: no-repeat;
    height: 950px;
    width: 100%;
    z-index: 15;
    
    
    
    &-items {
        border-right: 5px solid white; 
        width: 450px;
        padding-top: 30px;

        
        &_item {
            // border: 2px solid yellow;
            &:nth-child(even) {
                margin-left: 450px;
                padding-left: 100px;
                border: 2px solid purple;
            }
            &:nth-child(odd) {
                margin-right: 450px;
                padding-right: 50px;
            }
                    &__year {
                        @include title_black()
                        color: white;
                        &:nth-child(even) {
                            color: red;
                        }
                        &:nth-child(odd) {
                            text-align: right;
                            border: 1px solid green;
                            color: green;

                        }

                    }
                    &__text {
                    @include text_grey();

                    }
                    &__circle {
                        width: 1em;
                        height: 1em;
                        border: 3px solid white;
                        border-radius: 50%;
                        z-index: 10;
                        background: black;
                        &:nth-child(even) {
                            margin-left: 50px;
                        }
                        &:nth-child(odd) {
                            border: 1px solid green;
                        }
                }
            }
        
    }
}
/* ========== / history ============= */

/* ========== team ============= */
.team-items {
    height: 750px;
    width: 100%;
    text-align: center;
    margin-left: auto;
     margin-right: auto;
}

.team-items_header {
text-align: center;
margin-top: 150px;
margin-bottom: 120px;

    &__title {
      @include title_black();

    }
    &__text {
        @include subtitle();

    }
}

.team-items-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.team-items-flex__pers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;

    &:nth-child(odd) {
    margin-top: 350px;
    }

        &__foto {
            text-align: center;
        }
        &__name {
         
            @include team_name();

        }
        &__text {
           @include team_text();
            
        }
        
        &__connect {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            &__twit {}
            &__inst {
                padding-left: 15px;
            }
        }

  
}
/* ========== / team ============= */

/* ========== provid ============= */
.provid {
    background-image: url(/img/bgr_provid.png);
    background-repeat: no-repeat;
    height: 1800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

.provid_title {
    text-align: center;
    padding-top: 250px;
    &__title {
        font-size: 34px;
        font-weight: 26px;
        color: white;
    }
    &__text {
       @include text_grey();

        padding-top: 10px;
    }
}

.provid_flex {
   padding-top: 200px;
    width: 100%;    
    display: flex;
    justify-content: center;
    

        &_items {
            width: 340px;
            text-align: center; 

            &-cover {
                
                display: flex;
                justify-content: center;

                &-circle {
                    height: 130px;
                    width: 130px;
                    border: 6px solid white;
                    border-radius: 50%;
                }
                
                &-logo {
                    text-align: center;
                    padding-top: 40px;
                }
            }

            &-title {
                color: white;
                font-size: 26px;
                font-weight: 26px;
                padding-top: 20px;
            }
            &-text {
                font-size: 18px;
                font-weight: 23px;
                color: #383838;
                padding-top: 15px;
            }
                
        }
        
   
  
}
.provid_btn {
        height: 60px;
        width: 220px;
        background-color: white;
        text-align: center;
        margin-top: 400px;
        margin-left: auto;
        margin-right: auto;
    &_btn {
    
    }

    &_text {
        font-size: 16px;
        font-weight: 26px;
        font-weight: bold;
        color: black;
        padding-top: 23px;
    }
}

/* ========== / provid ============= */

/* ========== contact ==============*/
.contact {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &_title {
        @include title_black();
    }

    &_description {
      @include subtitle();
    }

  .contact_flex{
    display: flex;
    justify-content: center;
    height: 50px;
    padding-top: 70px;
    // width: 200px;
    &-1{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        &_img {}
        &_text { 
            @include text_grey_litl();
            padding-top: 10px;

            
        }
    }

    &-2{
        width: 100%;
        &_img {}
        &_text {
            @include text_grey_litl();
            padding: 0 50px 0 50px;
            padding-top: 10px;

            a {
                text-decoration: none;
                color: #898888;
            }
        }
    }
  }  
}

/* ========== / contact ==============*/

/* ========== feedback ============== */

.feedback_form {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    font-weight: 26px;

   
    &-input {
      
        padding: 10px 0 10px 0;
        
        width: 100%;
        border: 1px solid #898888;

    &:nth-child(-n+2) {
    margin-bottom: 20px;
}

        input {
            border: none;
            text-align: center;
            padding: 10px 0 10px 0;
            width: 100%;
            outline: none;
        }

        input::placeholder 
        {
            color: #898888;
        }
    
        &-description {
        
        }
        &-btn {
            button {
            background-color: black;
            color: white;
            border: none;
            text-align: center;
            padding: 10px 0 10px 0;
            width: 100%;
            outline: none;
            font-size: 15px;
            font-weight: 26px;
            
                &:hover {
                    background-color: #898888;
                }
            }
        }
       
    }
}
.feedback_form-input-copyright {
    padding-top: 30px;
    width: 100%;
    @include subtitle();
    text-align: center;
}

/* ========== / feedback ============== */